[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy-extensions = "*"
jinja2 = "*"
matrix-nio = "*"
asyncinotify = "*"

[dev-packages]
python-language-server = {extras = ["all"],version = "*"}

[requires]
